/* called on both front and back ends */

html { font-size: 15px; }

body {
    font-family: sans-serif;
    font-size: 1rem;
    color: #333;
}

    body#tinymce,
    html.no-js body,
    html.js.wf-roboto-n4-active body { font-family: Roboto, sans-serif; }

    body#tinymce { padding-top: 1rem; }

.bg-gray,
.bg-grey,
.hover-bg-gray:hover,
.hover-bg-grey:hover { background-color: #919c9d; }

.color-gray,
.color-grey { color: #919c9d; }

.bg-green,
.hover-bg-green:hover { background-color: #00bc1b; }

.color-green { color: #00bc1b; }

.bg-blue,
.hover-bg-blue:hover { background-color: #0066bc; }

.color-blue { color: #0066bc; }

.btn {
    display: block;
    width: 100%;
    margin: 1.75rem auto 0;
    line-height: 6.6667rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    transition: background 0.5s ease;
}

    .btn.bg-green { color: #FFF; }

.btn + * { margin-top: 1.75rem; }

.fa { display: none; }

    html.no-js .fa,
    html.wf-fontawesome-n4-active .fa,
    body#tinymce .fa { display: inline-block; }

    .btn > .fa {
        float: left;
        width: 22.5%;
        background-color: rgba(255,255,255,0.1);
        line-height: 6.6667rem;
        text-align: center;
    }

main
.entry,
body#tinymce { background-color: #FFF; }

    body#tinymce {
        width: 385px;
        margin: 0 auto;
    }

.entry p,
body#tinymce p {
    margin: 0;
    line-height: 1.6667rem;
}

* + p,
* + ul,
* + ol { margin-top: 1.25rem; }

    h1 + * { margin-top: 0; }

h1 {
    margin: 0.5rem 0 1.5rem;
    line-height: 3.3333rem;
    font-size: 3rem;
}

ul, ol {
    margin-left: 16px;
    padding: 0 0 0 2px;
}

    body.pixel-perfect ul,
    body.pixel-perfect ol { margin-left: 40px; }

    body.has-ul-bullet-image ul {
        padding: 0;
        list-style: none;
    }

li {
    padding-left: 14px;
    line-height: 2rem;
    font-size: 1.2rem;
}

    body.has-ul-bullet-image ul > li {
        position: relative;
    }

body.has-ul-bullet-image ul > li:before {
    content: '';
    position: absolute;
    left: -16px;
    top: 1rem;
    transform: translateY(-50%);
    max-width: 16px;
    max-height: 1.2rem;
}

@media
    screen and (orientation: portrait) and (max-width: 706px),
    screen and (orientation: landscape) and (max-width: 809px) {

    html { font-size: 14px; }

    .btn {
        line-height: 4.4286rem;
        font-size: 1.3286rem;
    }

    .btn > .fa {
        line-height: 4.4286rem;
    }

    h1 {
        margin-top: 0.1rem;
        line-height: 2.2314rem;
        font-size: 2.0893rem;
    }

    body.pixel-perfect ul,
    body.pixel-perfect ol {
        position: relative;
        left: -0.2143rem;
        width: 100%;
    }

    li {
        line-height: 1.6667rem;
        font-size: 1rem;
    }

}
