* {
    margin: 0;
    padding: 0;
}

#stage {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-top: 86px;
    box-sizing: border-box;
}

    html.cssvhunit #stage {
        min-height: 100vh;
        padding-top: 10.5392vh;
    }

    html.flexbox #stage {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

#stage:before,
#stage:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

    opacity: 0;
    transition: opacity 0.4s;
}

    html.no-js #stage:before,
    html.js #stage.lazyloaded:before { opacity: 1; }

    #stage:after {
        z-index: 2;
        opacity: 1;
    }

main {
    position: absolute;
    right: 122px;
    bottom: 86px;
    z-index: 3;
    display: inline-block;
    width: 86.875%;
    max-width: 462px;
    background-color: #FFF;
    box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.75);
}

    html.cssvwunit main { right: 8.4722vw; }
    html.cssvhunit main { bottom: 10.5392vh; }

    html.flexbox main {
        position: relative;
        right: auto;
        bottom: auto;
        margin: 0 122px 86px 0;
    }

    html.flexbox.cssvwunit main { margin-right: 8.4772vw; }
    html.flexbox.cssvhunit main { margin-bottom: 10.5392vh; }

main h2 {
    width: 100%;
    margin: 0;
    padding: 1.5rem 5%;
    border-bottom: 1px solid #030303;
    line-height: 1.6667rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.6rem;
    color: #919c9d;
}

main h2 img {
    max-width: 90%;
    height: auto;
}

main .entry {
    width: 100%;
    padding: 1.4667rem 2.4667rem 2rem 2.5333rem;
    box-sizing: border-box;
}

@media
    screen and (orientation: portrait) and (max-width: 706px),
    screen and (orientation: landscape) and (max-width: 809px) {

    #stage { padding: 50px 0; }

        html.cssvhunit #stage { padding: 5vh 0; }

        html.flexbox #stage {
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0;
        }

    #stage:after { opacity: 0; }

    main {
        position: relative;
        right: auto;
        bottom: auto;
        margin: 0 auto !important;
    }

    main h2 {
        padding: 1.1786rem 0;
        line-height: 1.2857rem;
        font-size: 1.2857rem;
    }

    main .entry {
        padding: 1.0714rem 1.3571rem;
    }

    .btn {
        margin-right: 1.0714rem;
    }

}

@media screen and (orientation: landscape) and (max-width: 809px) {

    #stage { padding: 50px 0; }

        html.cssvhunit #stage { padding: 10vh 0; }

}
